.sphere {

  font-family: sans-serif;
  text-align: center;
}
.icon-rotate {
  transition: transform 0.5s ease-in-out;
}

/* Застосуйте стиль до ікон, коли вони у фокусі */
.icon-rotate:hover,
.icon-rotate:focus {
  transform: rotateY(360deg);
}